<%# this page will show a greeting as well as the option to view bills if they have any. %>
<%# it will also show the latest bill(if there is any) with an option to add, delete, or edit %>

<h1>Welcome <%= @user.username%>!</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Latest Bill Added</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Recurring</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><%= @bill.name %></td>
      <td><%= @bill.amount %></td>
      <td><%= @bill.category %></td>
      <td><%= @bill.recurring %></td>
      <td><%= @bill.due_date %></td>
    </tr>
  </tbody>
</table>


<a href="/bills">See All Bills</a><br>
<a href="/bills/new">Add a Bill</a><br>
<a href="/logout">Logout</a>