<h1>Welcome <%= @user.username%>!</h1>
<% if @bill != nil  %>
<h2><em>Latest Bill Added</em></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Recurring</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @bill.name %></td>
      <td><%= @bill.amount %></td>
      <td><%= @bill.category %></td>
      <td><a href="/bills/<%=@bill.id%>/homepagerecurring"><i class="<%=recurring_or_not(@bill)%>"></i></td>
      <td><%= @bill.due_date %></td>
    </tr>
  </tbody>
</table>

<%else  %>
<h3>You don't currently have any bills. Try adding a bill now!</h3>

<%end  %>