<% if flash[:error] %>
  <div class="errors flash fatal">
    <h4 class="error"><%= flash[:error] %></h4>
  </div>
<% end %>
<form class="was-validated" action="/bills/<%=@bill.id%>" method="patch">
<input id="hidden" type="hidden" name="_method" value="patch">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Bill Name</label>
    <input type="text" class="form-control" value="<%=@bill.name%>" id="validationCustom01" name="bill[name]" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <br>

   <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Bill Amount</label>
    <input type="text" class="form-control" value="<%=@bill.amount%>" id="validationCustom01" name="bill[amount]" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <br>

  <div class="mb-3">
    <select class="form-select" name ="bill[category]" required aria-label="select example">
      <option value="">Bill Category</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Housing">Housing</option>
      <option value="Transportation">Transportation</option>
      <option value="Utilities">Utilities</option>
    </select>
  </div>

  <div class="mb-3">
    <select class="form-select" name ="bill[recurring]" required aria-label="select example">
      <option value="">Recurring?</option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Bill Due Date (dd-mm-yyyy)</label>
    <input type="text" class="form-control" value="<%=@bill.due_date%>" id="validationCustom01" name="bill[due_date]" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <br>


  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>