<table class="table table-dark table-striped">
  <tr>
  <td>Bill Name</td>
  <td>Bill Amount</td>
  <td>Bill Category</td>
  <td>Recurring?</td>
  <td>Due Date</td>
  </tr>

  <tr>
  <td><%= @bill.name %></td>
  <td><%= @bill.amount %></td>
  <td><%= @bill.category %></td>
  <td><a href="/bills/<%=@bill.id%>/recurring"><i class="<%=recurring_or_not(@bill)%>"></i></td>
  <td><%= @bill.due_date %></td>
  <td><a href="/bills/<%=@bill.id%>/edit">Edit </a></td>
  <td>
  <form action="/bills/<%=@bill.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input id="delete" type="submit" value="Delete">
  </form>
  </td>
  </tr>
</table>
<a href="/users/homepage">Homepage</a>